<ion-header>
  <ion-navbar color="header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
     
    </button>
    <ion-title >BTracker</ion-title>
   
    <ion-buttons end> <img width="30" src="assets/imgs/logo.png" style="margin-top: 12px"/></ion-buttons>
   
  </ion-navbar>
</ion-header>

<ion-content color="background">
  <ion-card >
    <ion-list >
      <button ion-item *ngFor="let device of deviceList" color="card" (click)="showLastPosition($event,device)">
          <ion-icon name="md-arrow-dropright" style="margin: 0px" item-start large *ngIf=device.deviceDisplay color="primary"></ion-icon>
          <ion-icon name="" style="margin: 0px" item-start large *ngIf=!device.deviceDisplay></ion-icon>
          <ion-label> {{ device.deviceDescription }}</ion-label>
          <ion-label *ngIf=device.deviceStatus color="primary"> Alarm On</ion-label>
          <ion-label style="color:gray" *ngIf=!device.deviceStatus> Alarm Off</ion-label>
          <ion-toggle [(ngModel)]="device.deviceStatus" [checked]="device.deviceStatus" (ionChange) = "saveAlarm()"></ion-toggle>
        </button>  
      </ion-list>     
        <ion-item color="card">
         
            <ion-range [(ngModel)]="cursor" (ionChange)="showLastPosition($event, selectedDevice)">
                <ion-icon range-left small name="md-arrow-dropright"> 1 </ion-icon>
                <ion-icon range-right small name="md-arrow-dropleft"> 20</ion-icon>
              </ion-range>
            <ion-icon name="ios-bicycle-outline" item-start large></ion-icon>
            <!-- <button ion-button icon-start clear item-end (click)="showLastPosition()">
              <ion-icon name="navigate"></ion-icon>
              Go
            </button> -->
           
        </ion-item>
      
      </ion-card>


       <div id="map" style="height:100%;margin: 10px;"></div>
     
 
  
</ion-content>
